/* styles.css */
body {
    font-family: Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 50px;
    height: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

#resultado {
    margin-top: 20px;
}